<div>
    <h2 id="page-heading">
        <span jhiTranslate="techfileApp.proceso.home.title">Procesos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-proceso-ims" [routerLink]="['/proceso-ims/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="techfileApp.proceso.home.createLabel">
            Create new Proceso
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="procesos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="techfileApp.proceso.fecha">Fecha</span></th>
            <th><span jhiTranslate="techfileApp.proceso.duracion">Duracion</span></th>
            <th><span jhiTranslate="techfileApp.proceso.resultado">Resultado</span></th>
            <th><span jhiTranslate="techfileApp.proceso.fichero">Fichero</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proceso of procesos ;trackBy: trackId">
                <td><a [routerLink]="['/proceso-ims', proceso.id, 'view' ]">{{proceso.id}}</a></td>
                <td>{{proceso.fecha | date:'mediumDate'}}</td>
                <td>{{proceso.duracion}}</td>
                <td jhiTranslate="{{'techfileApp.ResultadoProceso.' + proceso.resultado}}">{{proceso.resultado}}</td>
                <td>
                    <div *ngIf="proceso.fichero">
                        <a [routerLink]="['../fichero-ims', proceso.fichero?.id, 'view' ]" >{{proceso.fichero?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/proceso-ims', proceso.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/proceso-ims', proceso.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'proceso-ims/'+ proceso.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
